*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.text{
    margin-top: 50px;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer{
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color:white;
    margin-top: 50px;
}
